.portfolioCard {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    font-family: 'Lato', sans-serif;
    background-color: #E4F1F2;
    padding: 10px;
}

img {
    width: 35px;
}

.nav {
    background-color: #E4F1F2 !important;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif;
}

body {
    padding-bottom: 3rem;
    position: relative;
    width: 100%;
    background-color: #F2E291;
    min-height: 100vh;
    top:0;
    right: 0;
    /* font-family: 'Roboto Slab', serif; */

}

.fc-toolbar-title {
    text-align: center;
    font-family: 'Catamaran', sans-serif;

}

.fc-toolbar h2 {
    display: inline;
  }

.fc-view-harness {
    background-color: #E4F1F2;
}  

.fc-media-screen {
    font-family: 'Catamaran', sans-serif;

}

.fc-button-primary {
    background-color: #0D8AA6 !important;
}

.fc-icon,
.fc-button-primary {
    color: #f2cd13 !important;
    font-size: large;
}

.fc-direction-ltr {
    padding-bottom: 20%;
}

@keyframes duckieSwim {
    0%{
        margin-right: -10%;
        margin-bottom: 0;
        transform: rotate(0deg);
    }
    10% {
        margin-bottom:20px;
        transform: rotate(10deg);
    }
    20% {
        margin-bottom: 0;
        transform: rotate(0deg);
    }
    30% {
        margin-bottom:20px;
        transform: rotate(10deg);
    }
    40% {
        margin-bottom: 0;
        transform: rotate(0deg);
    }
    50% {
        margin-bottom:20px;
        transform: rotate(10deg);
    }
    60% {
        margin-bottom: 0;
        transform: rotate(0deg);
    }
    70% {
        margin-bottom:20px;
        transform: rotate(10deg);
    }
    80% {
        margin-bottom: 0;
        transform: rotate(0deg);
    }
    90% {
        margin-bottom:20px;
        transform: rotate(10deg);
    }

    100% {
        margin-right: 110%;
        margin-bottom: 0;
        transform: rotate(0deg);
        /*width: 100%;*/
    }
    
}
@keyframes waves {
        0% {
            width: 120%;
            margin-right: -1%
        }
        100% {
            width: 110%;
            margin-right: 1%
        }
        
    }
.duckContainer{
    width: 120%;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
}
img.ocean {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    animation-name: waves;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
      animation-direction: alternate;
      right: -5%;
}
img.duckie {
    width: 125px;
    position: absolute;
    bottom: 10px;
    animation-name: duckieSwim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
      /*animation-direction: alternate;*/
      right: -5%;
}

.loginBox {
    background-color: #f2cd13;
    font-family: 'Lato', sans-serif;
    text-align: center; 
    margin-top: 40vh;  
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn {
    background-color: #0D8AA6 !important;
    color: #F2E291 !important;
}

@keyframes loginContainer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}

.loginContainer {
    background: linear-gradient(-45deg, #0d8aa6, #e4f1f2,  #f2e291, #f2cd13);
	background-size: 800% 800%;
    width: 100%;
	animation: loginContainer 5s linear infinite;
    position: absolute;
    min-height: 100vh;

}
